.layout {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-rows: var(--navigation-menu-height) 1fr;

  overflow: hidden;

  .page-container {
    display: grid;
    grid-template-columns: 300px 1fr;

    transition: all var(--aside-menu-transition-duration);

    &.aside-menu-open {
      grid-template-columns: 0 1fr;
    }
  }
}